DATASET 1
Agentes del MEM -
Agentes del Mercado Eléctrico Mayorista

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/gagabriela2787/PracticaProfISPC/main/dataset/agentes-mem.csv'

df1 = pd.read_csv(url)

In [7]:
df1.head()

,id,nemo,descipcion,agrupacion,tipo_agente,fecha_proceso,lote_id_log
0,149768,14DEMP3N,14 DE JULIO S.A. - PESQUERA,GRANDES USUARIOS,Gran Usuario Menor (GUME),2020-05-05 11:08:14.531913,67
1,149769,72GAVEIN,72 GAS S.A.- BOUL.72 LA PLATA,GRANDES USUARIOS,Gran Usuario Menor (GUME),2020-05-05 11:08:14.531913,67
2,149770,AAARFOCN,ABRASIVOS ARGENTINOS SA,GRANDES USUARIOS,Gran Usuario Menor (GUME),2020-05-05 11:08:14.531913,67
3,149771,AARGTAOY,AEROP ARG 2000 - Aeroparque,GRANDES USUARIOS,Gran Usuario Mayor (GUMA),2020-05-05 11:08:14.531913,67
4,149772,ABASTUTN,ABASTO TUCUMANO,GRANDES USUARIOS,Gran Usuario Menor (GUME),2020-05-05 11:08:14.531913,67

In [ ]:
df1.shape

In [ ]:
print(df1.columns)

In [ ]:
df1.describe()

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10080 entries, 0 to 10079
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10080 non-null  int64
 1   nemo           10080 non-null  object
 2   descipcion     10080 non-null  object
 3   agrupacion     9803 non-null   object
 4   tipo_agente    10080 non-null  object
 5   fecha_proceso  10080 non-null  object
 6   lote_id_log    10080 non-null  int64
dtypes: int64(2), object(5)
memory usage: 551.4+ KB



---



---

DATASET 2
Balance
Balance de Energía del Mercado Eléctrico Mayorista.

In [5]:
url2 = 'https://raw.githubusercontent.com/gagabriela2787/PracticaProfISPC/main/dataset/balance.csv'
df2 = pd.read_csv(url2)

In [ ]:
df2.head()

In [14]:
df2 = pd.read_csv(url2)

In [ ]:
df2.shape

In [ ]:
print(df2.columns)

In [ ]:
df2.describe()

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             380 non-null    int64
 1   anio           380 non-null    int64
 2   mes            380 non-null    int64
 3   balance        380 non-null    object
 4   tipo           380 non-null    object
 5   energia_mwh    380 non-null    float64
 6   fecha_proceso  380 non-null    object
 7   lote_id_log    380 non-null    int64
 8   indice_tiempo  380 non-null    object
dtypes: float64(1), int64(4), object(4)
memory usage: 26.8+ KB



---



---

DATASET 3
Consumo de Combustibles
Consumo de combustibles por tipo de máquina y tipo de tecnología. Unidad: GAS NATURAL [Dam3] - FUEL OIL [Ton] - GAS OIL [M3] - CARBÓN MINERAL [Ton] - BIODIESEL [Ton]

In [17]:
url3 = 'https://raw.githubusercontent.com/gagabriela2787/PracticaProfISPC/main/dataset/combustibles.csv'

In [18]:
df3 = pd.read_csv(url3)

In [19]:
df3.head()

,id,anio,mes,maquina,central,agente,agente_descripcion,tipo_maquina,fuente_generacion,tecnologia,combustible,consumo,fecha_proceso,lote_id_log,indice_tiempo
0,210851,2017,1,ABRODI01,ABRO,CTBROWNG,C.T. ALMIRANTE BROWN,MOTOR DIESEL,Térmica,DI,GAS OIL,30.564,2020-05-05 11:07:07.467556,67,2017-01
1,210852,2017,1,ACAJTG01,CAPE,CAPEX-QA,CAPEX S.A. AUTOGENERADOR,TURBO GAS,Térmica,CC,GAS NATURAL,11734.436,2020-05-05 11:07:07.467556,67,2017-01
2,210853,2017,1,ACAJTG02,ACAJ,CAPEXSAG,C.T. AGUA DEL CAJON,TURBO GAS,Térmica,CC,GAS NATURAL,12363.875,2020-05-05 11:07:07.467556,67,2017-01
3,210854,2017,1,ACAJTG03,ACAJ,CAPEXSAG,C.T. AGUA DEL CAJON,TURBO GAS,Térmica,CC,GAS NATURAL,12411.323,2020-05-05 11:07:07.467556,67,2017-01
4,210855,2017,1,ACAJTG05,ACAJ,CAPEXSAG,C.T. AGUA DEL CAJON,TURBO GAS,Térmica,CC,GAS NATURAL,12482.911,2020-05-05 11:07:07.467556,67,2017-01

In [20]:
df3.shape

(13574, 15)

In [21]:
print(df3.columns)

Index(['id', 'anio', 'mes', 'maquina', 'central', 'agente',
       'agente_descripcion', 'tipo_maquina', 'fuente_generacion', 'tecnologia',
       'combustible', 'consumo', 'fecha_proceso', 'lote_id_log',
       'indice_tiempo'],
      dtype='object')

In [22]:
df3.describe()

                  id          anio           mes       consumo  lote_id_log
count   13574.000000  13574.000000  13574.000000  13574.000000      13574.0
mean   217637.500000   2018.168337      6.225505   4560.264893         67.0
std      3918.620612      0.896811      3.528214  10257.278366          0.0
min    210851.000000   2017.000000      1.000000      0.001000         67.0
25%    214244.250000   2017.000000      3.000000     45.077000         67.0
50%    217637.500000   2018.000000      6.000000    345.532000         67.0
75%    221030.750000   2019.000000      9.000000   2561.617750         67.0
max    224424.000000   2020.000000     12.000000  89158.291000         67.0

In [23]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13574 entries, 0 to 13573
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  13574 non-null  int64
 1   anio                13574 non-null  int64
 2   mes                 13574 non-null  int64
 3   maquina             13574 non-null  object
 4   central             13574 non-null  object
 5   agente              13574 non-null  object
 6   agente_descripcion  13574 non-null  object
 7   tipo_maquina        13574 non-null  object
 8   fuente_generacion   13574 non-null  object
 9   tecnologia          13574 non-null  object
 10  combustible         13574 non-null  object
 11  consumo             13574 non-null  float64
 12  fecha_proceso       13574 non-null  object
 13  lote_id_log         13574 non-null  int64
 14  indice_tiempo       13574 non-null  object
dtypes: float64(1), int64(4), object(10)
memory usage: 1.6+ MB



---



---



---



---

Disponibilidad por central
Porcentaje de disponibilidad por central

In [3]:
url4 = 'https://raw.githubusercontent.com/gagabriela2787/PracticaProfISPC/main/dataset/disponibilidad-por-central.csv'

In [4]:
df4 = pd.read_csv(url4)

In [5]:
df4.head()

,id,mes,central,agente,descripcion,tecnologia_descripcion,tecnologia,factor_disp_tec_porcentaje,fecha_proceso,lote_id_log,indice_tiempo
0,121855,1,ABRO,CTBROWNG,C.T. ALMIRANTE BROWN,Motor Diesel,DI,1.000000,2020-05-05 11:07:57.624983,67,2017-01
1,121856,1,ACAJ,CAPEXSAG,C.T. AGUA DEL CAJON,Ciclos Combinados,CC,0.700782,2020-05-05 11:07:57.624983,67,2017-01
2,121857,1,AESP,CTAESPAG,C.T. AES PARANA,Ciclos Combinados,CC,0.976917,2020-05-05 11:07:57.624983,67,2017-01
3,121858,1,ALEM,CTALEMAG,CT ALEM - AGGREKO,Motor Diesel,DI,1.000000,2020-05-05 11:07:57.624983,67,2017-01
4,121859,1,ALUM,CTALUMSG,CT ALUMINÉ - SECCO,Motor Diesel,DI,1.000000,2020-05-05 11:07:57.624983,67,2017-01

In [6]:
df4.shape

(8103, 11)

In [7]:
print(df4.columns)

Index(['id', 'mes', 'central', 'agente', 'descripcion',
       'tecnologia_descripcion', 'tecnologia', 'factor_disp_tec_porcentaje',
       'fecha_proceso', 'lote_id_log', 'indice_tiempo'],
      dtype='object')

In [8]:
df4.describe()

                  id          mes  factor_disp_tec_porcentaje  lote_id_log
count    8103.000000  8103.000000                 8103.000000       8103.0
mean   125906.000000     6.291003                    0.779705         67.0
std      2339.278949     3.527090                    0.334617          0.0
min    121855.000000     1.000000                    0.000000         67.0
25%    123880.500000     3.000000                    0.749833         67.0
50%    125906.000000     6.000000                    0.946410         67.0
75%    127931.500000     9.000000                    0.999812         67.0
max    129957.000000    12.000000                    1.000000         67.0

In [9]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8103 entries, 0 to 8102
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          8103 non-null   int64
 1   mes                         8103 non-null   int64
 2   central                     8103 non-null   object
 3   agente                      8103 non-null   object
 4   descripcion                 8103 non-null   object
 5   tecnologia_descripcion      8103 non-null   object
 6   tecnologia                  8103 non-null   object
 7   factor_disp_tec_porcentaje  8103 non-null   float64
 8   fecha_proceso               8103 non-null   object
 9   lote_id_log                 8103 non-null   int64
 10  indice_tiempo               8103 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 696.5+ KB



---



---


DATASET 5

Importaciones y Exportaciones

In [27]:
url5 = 'https://raw.githubusercontent.com/gagabriela2787/PracticaProfISPC/main/dataset/importaciones-y-exportaciones.csv'

In [28]:
df5 = pd.read_csv(url5)

In [29]:
df5.head()

,id,anio,mes,pais,tipo,energia_mwh,fecha_proceso,lote_id_log,indice_tiempo
0,5018,2017,1,Brasil,Exportación,71.046,2020-05-05 11:07:40.828862,67,2017-01
1,5019,2017,1,Chile,Exportación,0.000,2020-05-05 11:07:40.828862,67,2017-01
2,5020,2017,1,Paraguay,Exportación,0.000,2020-05-05 11:07:40.828862,67,2017-01
3,5021,2017,1,Uruguay,Exportación,0.000,2020-05-05 11:07:40.828862,67,2017-01
4,5022,2017,1,Brasil,Importación,108794.052,2020-05-05 11:07:40.828862,67,2017-01

In [30]:
df5.shape

(304, 9)

In [31]:
print(df5.columns)

Index(['id', 'anio', 'mes', 'pais', 'tipo', 'energia_mwh', 'fecha_proceso',
       'lote_id_log', 'indice_tiempo'],
      dtype='object')

In [32]:
df5.describe()

               id         anio         mes    energia_mwh  lote_id_log
count   304.00000   304.000000  304.000000     304.000000        304.0
mean   5169.50000  2018.105263    6.236842   14938.730980         67.0
std      87.90146     0.913109    3.548321   51854.763626          0.0
min    5018.00000  2017.000000    1.000000       0.000000         67.0
25%    5093.75000  2017.000000    3.000000       0.000000         67.0
50%    5169.50000  2018.000000    6.000000       0.000000         67.0
75%    5245.25000  2019.000000    9.000000    5278.018500         67.0
max    5321.00000  2020.000000   12.000000  393804.740000         67.0

In [33]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             304 non-null    int64
 1   anio           304 non-null    int64
 2   mes            304 non-null    int64
 3   pais           304 non-null    object
 4   tipo           304 non-null    object
 5   energia_mwh    304 non-null    float64
 6   fecha_proceso  304 non-null    object
 7   lote_id_log    304 non-null    int64
 8   indice_tiempo  304 non-null    object
dtypes: float64(1), int64(4), object(4)
memory usage: 21.5+ KB



---



---