In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [13]:
url4 = 'https://raw.githubusercontent.com/gagabriela2787/PracticaProfISPC/main/dataset/disponibilidad-por-central.csv'

In [14]:
df4 = pd.read_csv(url4)

In [15]:
df4.head(10)

,id,mes,central,agente,descripcion,tecnologia_descripcion,tecnologia,factor_disp_tec_porcentaje,fecha_proceso,lote_id_log,indice_tiempo
0,121855,1,ABRO,CTBROWNG,C.T. ALMIRANTE BROWN,Motor Diesel,DI,1.000000,2020-05-05 11:07:57.624983,67,2017-01
1,121856,1,ACAJ,CAPEXSAG,C.T. AGUA DEL CAJON,Ciclos Combinados,CC,0.700782,2020-05-05 11:07:57.624983,67,2017-01
2,121857,1,AESP,CTAESPAG,C.T. AES PARANA,Ciclos Combinados,CC,0.976917,2020-05-05 11:07:57.624983,67,2017-01
3,121858,1,ALEM,CTALEMAG,CT ALEM - AGGREKO,Motor Diesel,DI,1.000000,2020-05-05 11:07:57.624983,67,2017-01
4,121859,1,ALUM,CTALUMSG,CT ALUMINÉ - SECCO,Motor Diesel,DI,1.000000,2020-05-05 11:07:57.624983,67,2017-01
5,121860,1,ANAT,CTANA2SG,CT AÑATUYA II - SULLAIR,Motor Diesel,DI,0.921915,2020-05-05 11:07:57.624983,67,2017-01
6,121861,1,ANAT,CTANATSG,CT AÑATUYA - SULLAIR,Motor Diesel,DI,1.000000,2020-05-05 11:07:57.624983,67,2017-01
7,121862,1,ARGE,SIDERCAC,SIDERCA SA(EX ARGENER-GEN.PAR),Turbina a gas,TG,1.000000,2020-05-05 11:07:57.624983,67,2017-01
8,121863,1,ARIS,CTARIVSG,CT ARISTOBU.DEL VALLE-SOENERGY,Motor Diesel,DI,1.000000,2020-05-05 11:07:57.624983,67,2017-01
9,121864,1,ARMA,CTLARM2G,CT LAS ARMAS II - EMGASUD,Turbina a gas,TG,1.000000,2020-05-05 11:07:57.624983,67,2017-01

# LIMPIEZA DE DATOS
### Celdas vacias

In [16]:
#método isna(), comprobar si cada celda es nula y  sum(), suma los resultados
filas_vacias = df4.isna().sum()

# Ahora filas_vacias contiene la cantidad de valores nulos en cada columna
# Si deseas contar las filas vacías en su totalidad, puedes usar sum() nuevamente
total_filas_vacias = filas_vacias.sum()

print("Filas vacías por columna:")
print(filas_vacias)

print("Total de filas vacías en el DataFrame:")
print(total_filas_vacias)

Filas vacías por columna:
id                            0
mes                           0
central                       0
agente                        0
descripcion                   0
tecnologia_descripcion        0
tecnologia                    0
factor_disp_tec_porcentaje    0
fecha_proceso                 0
lote_id_log                   0
indice_tiempo                 0
dtype: int64
Total de filas vacías en el DataFrame:
0

### Tipo de datos

In [17]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8103 entries, 0 to 8102
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          8103 non-null   int64
 1   mes                         8103 non-null   int64
 2   central                     8103 non-null   object
 3   agente                      8103 non-null   object
 4   descripcion                 8103 non-null   object
 5   tecnologia_descripcion      8103 non-null   object
 6   tecnologia                  8103 non-null   object
 7   factor_disp_tec_porcentaje  8103 non-null   float64
 8   fecha_proceso               8103 non-null   object
 9   lote_id_log                 8103 non-null   int64
 10  indice_tiempo               8103 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 696.5+ KB

In [18]:
df4a = df4.copy()  # Crea una copia del DataFrame original

# Cambia el tipo de dato
df4a['fecha_proceso'] = pd.to_datetime(df4a['fecha_proceso'])

# Cambia el tipo de dato
df4a['indice_tiempo'] = pd.to_datetime(df4a['indice_tiempo'], format='%Y-%m')

In [19]:
df4a.info() #se verifica el cambio

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8103 entries, 0 to 8102
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          8103 non-null   int64
 1   mes                         8103 non-null   int64
 2   central                     8103 non-null   object
 3   agente                      8103 non-null   object
 4   descripcion                 8103 non-null   object
 5   tecnologia_descripcion      8103 non-null   object
 6   tecnologia                  8103 non-null   object
 7   factor_disp_tec_porcentaje  8103 non-null   float64
 8   fecha_proceso               8103 non-null   datetime64[ns]
 9   lote_id_log                 8103 non-null   int64
 10  indice_tiempo               8103 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(3), object(5)
memory usage: 696.5+ KB

In [20]:
df4a.to_csv('df4a_data.csv', index=False)